// Variables
$color-dark: #0d0543;
$color-orange: #ff796d;
$color-orange__light: #fff0ef;
$color-bg: #faf8f4;
$color-stroke: #d3d3d3;
$color-para: #8f92a1;

// mixins
@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin center__both {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// ======== mixins for flex row

@mixin flex-row {
	display: flex;
	flex-direction: row;
}

@mixin flex-row_center {
	@include flex-row;
	justify-content: center;
	align-items: center;
}

// ======== for flex column

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-column_center {
	@include flex-column;
	justify-content: center;
	align-items: center;
}

// MEDIA QUERY MANAGER
/*

0 - 350px;         Small Phone
350 - 600px;       Phone
600 - 900px;       Table potrait
900 - 1200px;      Table landscape
1200 - 1800px ( is where the normal style is applies )
1200 - 1800+ px;   Big desktop

$breakpoint arguement choices :

- sm-phone
- phone
- tab-port
- tab-land
- big-desktop

 ORDER: Base + Typography > genarel layout + grid > page layout > components

*/

@mixin respond($breakpoint) {
	@if $breakpoint == sm-phone {
		@media only screen and (max-width: 375px) {
			@content;
		} //  21.5em;
	}

	@if $breakpoint == phone {
		@media only screen and (max-width: 600px) {
			@content;
		} // 37.5em;
	}

	@if $breakpoint == tab-port {
		@media only screen and (max-width: 900px) {
			@content;
		} // 56.25em;
	}

	@if $breakpoint == tab-land {
		@media only screen and (max-width: 1200px) {
			@content;
		} // 75em;
	}

	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 1800px) {
			@content;
		} // 112.5em;
	}
}

// Base
/* ============================================ */
/* ================ universal selector adjustment ================ */
/* ============================================ */

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

/* ============================================ */
/* ================ html font size adjustment ================ */
/* ============================================ */

html {
	scroll-behavior: smooth;
}

/* ============================================ */
/* ================ body customization ================ */
/* ============================================ */

body {
	box-sizing: border-box;
	background-color: $color-bg !important;
	font-family: 'Metropolis', sans-serif !important;
	font-weight: 400;
	color: $color-para;

	a {
		text-decoration: none;
	}

	button,
	button:focus {
		outline: none;
	}
}

/* ============================================ */
/* ================ section padding ================ */
/* ============================================ */

section {
	padding: 5.5rem 0;

	@include respond(tab-land) {
		padding: 2.5rem 0;
	}

	@include respond(tab-port) {
		padding: 3.5rem 0;
	}

	@include respond(phone) {
		padding: 3.5rem 12px;
	}
}

/* ============================================ */
/* ================ no gutters for row ================ */
/* ============================================ */

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.row.no-gutters > [class^='col-'],
.row.no-gutters > [class*=' col-'] {
	padding-right: 0;
	padding-left: 0;
}

/* ============================================ */
/* ================ customize selection ================ */
/* ============================================ */

::selection {
	background-color: $color-dark;
	color: #fff;
}

// Pages starts here

// banner styling

.banner {
	width: 100%;
	height: auto;
	background-image: url(../img/banner-light_effect.png),
		linear-gradient(180deg, rgba(207, 232, 229, 0.16) 0%, #ffffff 100%);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	padding: 6rem 0;
	position: relative;

	@include respond(phone) {
		background-image: url(../img/banner-light_effect_mbl.png),
			linear-gradient(180deg, rgba(207, 232, 229, 0.16) 0%, #ffffff 100%);
		padding: 12rem 0;
	}

	&-title {
		color: $color-dark;
		font-weight: 800;
		font-size: 3.5rem;
		text-align: center;

		@include respond(tab-port) {
			font-size: 40px;
		}

		@include respond(phone) {
			font-size: 45px;
			margin-top: 10px;
		}

		span {
			color: $color-orange;
			display: block;
		}
	}

	&-des {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 3rem;

		@include respond(tab-port) {
			margin-top: 1rem;
		}

		@include respond(phone) {
			flex-direction: column;
			margin-top: 1.5rem;
		}

		&__users {
			width: auto;
			height: auto;

			img {
				width: auto;
				height: 50px;

				@include respond(tab-port) {
					height: 44px;
				}
			}
		}

		span {
			width: 1px;
			height: 56px;
			background: $color-stroke;
			border-radius: 4px;
			margin: 0 24px;

			@include respond(phone) {
				display: none;
			}
		}

		&__text {
			width: 180px;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			color: $color-dark;
			margin-bottom: 0;

			@include respond(tab-port) {
				font-size: 16px;
				line-height: 21px;
			}

			@include respond(phone) {
				margin-top: 18px;
			}
		}
	}

	&-brands {
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;

		@include respond(phone) {
			display: flex;
			flex-direction: column;
		}

		&__left,
		&__right {
			width: 250px;
			height: auto;
			position: absolute;
			top: 40px;

			@include respond(phone) {
				width: 100%;
			}

			&-1 {
				width: 55px;
				height: 55px;
			}

			&-2 {
				width: 71px;
				height: 71px;
			}

			&-3 {
				width: 62px;
				height: 62px;
			}

			&-4 {
				width: 58px;
				height: 58px;
			}

			&-1,
			&-4 {
				@include respond(tab-port) {
					width: 38px;
					height: 38px;
				}

				@include respond(phone) {
					width: 44px;
					height: 44px;
				}
			}

			&-2,
			&-3 {
				@include respond(tab-port) {
					width: 47px;
					height: 47px;
				}

				@include respond(phone) {
					width: 55px;
					height: 55px;
				}
			}

			&-1,
			&-2,
			&-3,
			&-4 {
				position: absolute;

				img {
					width: 100%;
					height: auto;
					filter: drop-shadow(0px 9px 19px rgba(0, 0, 0, 0.06));
				}
			}
		}

		&__left {
			left: 5.5rem;

			@include respond(phone) {
				left: 0;
			}

			&-1 {
				left: 8.5rem;
				animation: float 2.4s ease-in-out infinite alternate;

				@include respond(tab-port) {
					left: 1.5rem;
				}

				@include respond(phone) {
					left: 3rem;
				}
			}

			&-2 {
				left: 0rem;
				top: 6rem;
				animation: float 5s ease-in-out infinite alternate;

				@include respond(tab-port) {
					left: -3rem;
				}

				@include respond(phone) {
					left: 6rem;
					top: 4.5rem;
				}
			}

			&-3 {
				left: 11rem;
				top: 10rem;
				animation: float 3s ease-in-out infinite alternate;

				@include respond(tab-port) {
					left: 1.5rem;
				}

				@include respond(phone) {
					left: auto;
					right: 6rem;
					top: 4.5rem;
				}
			}

			&-4 {
				left: 4rem;
				top: 17rem;
				animation: float 1.8s ease-in-out infinite alternate;

				@include respond(tab-port) {
					left: -2rem;
					top: 15rem;
				}

				@include respond(phone) {
					left: auto;
					right: 3rem;
					top: 0rem;
				}
			}
		}

		&__right {
			right: 5.5rem;

			@include respond(phone) {
				right: 0;
			}

			&-1 {
				right: 8.5rem;
				animation: float 1.5s ease-in-out infinite alternate;

				@include respond(tab-port) {
					right: 1.5rem;
				}

				@include respond(phone) {
					right: auto;
					left: 3rem;
					top: 36rem;
				}
			}

			&-2 {
				right: 0rem;
				top: 6rem;
				animation: float 5s ease-in-out infinite alternate;

				@include respond(tab-port) {
					right: -3rem;
				}

				@include respond(phone) {
					right: auto;
					left: 6rem;
					top: 31rem;
				}
			}

			&-3 {
				right: 11rem;
				top: 10rem;
				animation: float 3.5s ease-in-out infinite alternate;

				@include respond(tab-port) {
					right: 1.5rem;
				}

				@include respond(phone) {
					right: 6rem;
					top: 31rem;
				}
			}

			&-4 {
				right: 4rem;
				top: 17rem;
				animation: float 2.5s ease-in-out infinite alternate;

				@include respond(tab-port) {
					right: -2rem;
					top: 15rem;
				}

				@include respond(phone) {
					right: 3rem;
					top: 36rem;
				}
			}
		}
	}
}

// cards section styling

.filter-controls {
	width: 100%;
	height: auto;
	@include flex-row_center;
	flex-wrap: wrap;
	margin-bottom: 3.75rem;
	gap: 0 1rem;

	@include respond(phone) {
		gap: 1rem;
	}

	&_btn {
		border: 1px solid $color-stroke;
		border-radius: 10px;
		font-weight: 500;
		font-size: 20px;
		color: $color-dark;
		padding: 8px 20px;
		transition: 0.3s all;

		@include respond(tab-port) {
			font-size: 16px;
			padding: 6px 14px;
		}

		&:hover {
			background: $color-orange;
			color: #fff;
			border: 1px solid $color-orange;
			box-shadow: 0px 5px 10px rgba(255, 121, 109, 0.24);
		}

		&:focus {
			box-shadow: none;
		}
	}

	.active {
		background: $color-orange;
		color: #fff;
		border: 1px solid $color-orange;
		box-shadow: 0px 5px 10px rgba(255, 121, 109, 0.24);
	}
}

#myList {
	gap: 2rem 0;
}

.course {
	width: 100%;
	height: auto;
	background: #fff;
	border-radius: 1rem;
	box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.05);
	padding: 40px;

	@include respond(phone) {
		padding: 34px;
	}

	&-top {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 25px;

		&_brand {
			width: 90px;
			height: 90px;
			border-radius: 50%;
			background: rgb(236, 236, 236);
			border: 1px solid #e7e7e7;
			filter: drop-shadow(0px 4px 15px rgba(234, 225, 208, 0.35));
			overflow: hidden;

			@include respond(tab-port) {
				width: 80px;
				height: 80px;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}

		&_tag {
			@include flex-row_center;
			padding: 6px 14px;
			background: $color-orange__light;
			color: $color-orange;
			border-radius: 6px;
			font-weight: 500;
			font-size: 18px;

			@include respond(tab-port) {
				font-size: 16px;
				padding: 5px 14px;
			}
		}
	}

	&-name {
		font-weight: 700;
		font-size: 24px;
		color: $color-dark;

		@include respond(tab-port) {
			font-size: 20px;
		}
	}

	&-des {
		font-weight: 500;
		font-size: 17px;
		color: $color-para;
		margin: 20px 0 25px 0;

		@include respond(tab-port) {
			font-size: 15px;
		}
	}

	&-cta {
		width: 100%;

		.btn {
			@extend .filter-controls_btn;
			width: 100%;
			font-size: 18px;

			@include respond(tab-port) {
				font-size: 16px;
				padding: 8px 14px;
			}
		}
	}
}

.web-hidden {
	display: none;

	@include respond(tab-port) {
		display: block !important;
	}

	@include respond(phone) {
		display: block !important;
	}
}

.mbl-hidden {
	@include respond(tab-port) {
		display: none !important;
	}

	@include respond(phone) {
		display: none !important;
	}
}

// Animations

@keyframes float {
	0% {
		transform: translateY(10px) rotate3d(0, 0, 0, 0deg);
	}

	100% {
		transform: translateY(-10px) rotate3d(0, 0, 0, 0deg);
	}
}
